*{
    margin: 0;
    padding: 0;
    font-family: 'Inter';

}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/header_bg.jpeg);
    background-position: center;
    background-size: cover;
    position: relative;

    
    
    
}





.logo{

    width: 10vw;

    /* плавное появление */
    transform: translateY(-150%);
    animation: ani 1.5s forwards;
}
@media (max-width:1300PX) {
    
    .logo{
        width: 20vw;
    }
        
    
}

.nav-items{

    display: flex;
    padding: 2% 5%;
    justify-content: space-between;
        

}

nav img {
    width: 150px;
}

.nav-links{
     flex: 1;
     text-align: right;

    /* плавное появление */
     transform: translateY(-150%);
     animation: ani 1.5s forwards;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li ::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f44336;
    display: block;
    margin: auto;
    transition: 0.7s;
}

.nav-links ul li :hover::after{
    width: 100%;
}

.text-box{
    width: 80%;
    color: white;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: left;
}

.text-box h1{
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 130%;
    /* or 130% */

    letter-spacing: 1.2px;
    text-transform: capitalize;

    margin-bottom: 40px;

    /* Плавное появление заголовка  */
    transform: translateX(-100%);
    animation: ani2 3s forwards;

}

.text-box p{
    margin: 10px 0 10px;
    font-size: 1vw;
    color: white;

    
    
}
@media(max-width:1300px){
    .text-box p{
        margin: 10px 0 10px;
        font-size: 2vw;
        color: white;  
    
    }
    .text-box p img{

        width: 2vw;
    }

    .text-box h1{
        font-size: 3vw;

    }
}

@media(max-width:800px){
    .text-box p{
        margin: 10px 0 10px;
        font-size: 3vw;
        color: white;  
    
    }
    .text-box p img{

        width: 3vw;
    }

    .text-box h1{
        font-size: 5vw;

    }
}


.text-box p img{

    width: 1vw;
}



.text-box-btn{
    
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;

    /* Плавное появление заголовка  */
    transform: translateX(-150%);
    animation: ani2 1.5s forwards;
}

.text-box-btn:hover{

    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

 nav .fa{
    display: none;
 }




@media(max-width:700px){

    .text-box h1{
        font-size: 20px;
    }

    
    .nav-links ul li{
        display: block;
    }

    
.nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: 0px;
    text-align: left;
    z-index: 2;
    transition: 1.5s;
}

nav .fa{
    display: block;
    color: white;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
 }

 .nav-links{
    padding: 30px;
 }

}

/* Плавное появление шапки */

@keyframes ani {
    0% {transform: translateY(-150%);}
    100% {transform: translateY(0);}
  }
  
/* Плавное появление заголовка */
@keyframes ani2 {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
  }


/* Плавное появление текста над заголовком */
  #slowly .new { opacity: 0; }
    #slowly .div_opacity {
        -webkit-transition: opacity .3s ease-in-out;
        -moz-transition: opacity .3s ease-in-out;
        -ms-transition: opacity .3s ease-in-out;
        -o-transition: opacity .3s ease-in-out;
        transition: opacity .3s ease-in-out;
        opacity: 1;
    }



/* ---------------------------------about--------------------------------------- */

.about-bgc{

    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

.lay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.about{
    position: relative;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 7%;
    padding-bottom: 5%;



}

.about h2{
    font-size: 36px;
    font-weight: 600;
}

.about p {
    color: black;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row{

    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.about-grid{

    
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr;
    align-items: stretch;

}



@media (max-width:1100px) {

    .about-grid{

        grid-template-columns: 1fr;
        
    }

    .about-grid-item:first-child{
        display: none;

    }

    
}

.about-grid-item{
    
    padding: 10px;
    font-size: 20px;
}

.about-grid-item h3{
    text-align: left;
    font-weight: 600;
    margin: 20px 0 ;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 150%;
    line-height: 58px;
}

.about-grid-item p {
    text-align: left;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    
}

.about-grid-item img{

    width: 100%;
    height: 100%;
    object-fit: cover;

    
}


.about-undergrid{
    margin-top: 5%;
    vertical-align: bottom;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    align-items: end;
}

@media (max-width:1300px) {

    .about-undergrid{
        grid-template-columns: 0.5fr 1fr;  
    }

    /* .about-undergrid-item:last-child{
        display: none;

} */
}
.about-undergrid-item{

    
    padding: 10px;
    color: #fff;
    font-size: 20px;
    font-weight: 700
    
}

.about-undergrid-item:first-child{

    padding: 25px;
    margin-right: 10px;
    background: #F4F4F4;

}
.about-undergrid-item h2{

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;

    /* identical to box height, or 110% */

    text-align: center;
   

    color: #f44336;
}

.about-undergrid-item p{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 13px;

    /* or 130% */

    text-align: center;
    letter-spacing: 0.36px;

    color: #1C2752;
}

.about-undergrid-item ul{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    /* identical to box height, or 159% */

    letter-spacing: 0.36px;

    color: black;

    margin-left: 15px;
}

.about-undergrid-item ul{
    text-align: left;
}

.about-undergrid-item li{
    list-style-type: none;
}

.about-undergrid-item li::before{
    content: "— ";
}



@media(max-width:1000px){

    .row{
        flex-direction: column;
    }



}

/* ------------------------services-------------------------- */


.services-bgc{

    background: #f4f4f4;

}


.services{


    width: 80%;
    margin: auto;
    padding-top: 4%;
    /* margin-top: 3%; */
}

.services h2{

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 230%;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 3%;


}


.services img{

    border-radius: 10px;
}

.carousel-item{

    margin: 20px;


}

.carousel-item img{

   
    object-fit: cover;


}

.carousel-item h3 {

    margin: 20px 0;
}

.btn-services{

    display: inline-block;
    text-decoration: none;

    color: black;
    font-family: 'Mulish';
    font-style: normal;
    font-size: 16px;

    
    padding: 12px 34px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;

    border: 1px solid #f44336;

    border-radius: 10px;
}

.btn-services:hover{

    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}


/* точки внизу карусели */

.owl-dots {
    text-align: center;
    margin-top: 10px;
    padding-bottom: 30px;
  }
  
  /* Сам маркер
  Здесь body в начале, чтобы заменить стили, которые указаны в самом плагине */
  
  body .owl-carousel button.owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #1C2752;
    margin: 0 3px;
  }
  
  /* Активный маркер */
  .owl-carousel button.owl-dot.active {
    background: #f44336;
  }


  @media(max-width:1600px){

    body .owl-carousel button.owl-dot {
        width: 18px;
        height: 18px;
    }


}

  @media(max-width:1200px){

    body .owl-carousel button.owl-dot {
        width: 15px;
        height: 15px;
    }


}
  @media(max-width:1000px){

    body .owl-carousel button.owl-dot {
        width: 10px;
        height: 10px;
    }


}


/* -------------------------projects------------------------ */
.projects-bgc{

    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}
.projects{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 7%;
    z-index: 2;
}

.projects h2{

    text-align: left;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 230%;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 3%;

}


.projects-col{

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;

}

.projects-col img{
    width: 100%;
    display: block;
}

.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.layer:hover{
    background: rgba(0, 0, 0, 0.7);

}

.layer p{

    width: 100%;

    font-family: 'Mulish';
    font-style: bold;
    font-weight: 600;
    font-size: 150%;


    
    color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.8s;

}

.layer:hover p{
    bottom: 49%;
    opacity: 1;
}

@media (max-width:1200px) {

    .layer:hover p{
        bottom: 20%;
        opacity: 1;
    }
    
}

@media (max-width:1000px) {

    .layer:hover p{
        bottom: 49%;
        opacity: 1;
    }
    
}


/* -----------------------calculator------------- */

.calc-bgc{
    
    background: #f4f4f4;
    
    
}

.calc{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    
}

.calc h2{

    text-align: left;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 230%;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 3%;

}

.calc_grid{

    display: grid;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 1fr;
    align-items: stretch;
    

}
@media (max-width:1100px){
    .calc_grid{
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 100px;
    }

    .calc_grid_item:last-child{
        
        text-align: left;
        background: #f44336;
        border-radius: 20px;
    }

    .calc_grid_item:last-child p{
        font-size: 35px;
        padding: 15px;
        color: #fff;
    }
}

.calc_grid_item{
    
    position: relative;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    font-family: 'Mulish';
    font-style: normal;
 
    
}


.calc_grid_item h2 {
    margin: 0 0 30px;
    padding: 0;
    color: black;
    text-align: center;
  }
  
  .calc_grid_item .user-box {
    position: relative;
  }
  
  .calc_grid_item .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }

  .calc_grid_item .user-box select {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: transparent;
  }

  .calc_grid_item .user-box select option{

    font-family: 'Mulish';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;


  }

  .user-box p {

    text-align: left;
    color: black;
    padding-bottom: 5px;



  }

  .calc_grid_item .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: black;
    pointer-events: none;
    transition: .5s;
  }

  
  .calc_grid_item .user-box input:focus ~ label,
  .calc_grid_item .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f44336;
    font-size: 14px;
  }
  
  .user-box-btn{
    text-align: left;
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;

    margin-bottom: 3%;
  }

  .user-box-btn:hover{

    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.dop{
    text-align: left;
    margin-bottom: 20px;
}
 
.dop h3{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}

.dop input{
    font-family: 'Mulish';
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    margin: 10px 0 10px 0;
    
}


/* ----------------personal-------------- */

/* .personal-bgc{

    background: #f4f4f4;
} */


.personal-bgc{
    position: relative;
    width: 100%;
    overflow: hidden;
    
}

.personal-bgc .wave{
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave/wave1.png);
    background-size: 1000px 100px;

}
.personal-bgc .wave.wave1{
    animation: animate1 30s linear infinite;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}


.personal{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 3%;
    
    
}

.personal h2{

    text-align: left;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 230%;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 3%;

}


.personal-col{

    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    padding-top: 80px;

}

.card{
    position: relative;
    height: 20vh;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    
    transition: 0.5s;
}

.card:hover{

    height: 50vh;
}

.mobile-card{
    display: none;
    background: rgba(244, 244, 244, 0.8);
    border-radius: 20px;
}

.mobile-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;

}
@media (max-width:1000px) {

   .personal.row{

        justify-content: space-between;
    }
    
}


.mobile-card h3{

    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.mobile-card span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}
@media (max-width:1100px) {

    .mobile-card{
        display: block;
    }

    .card{
        display: none;
    }
}

.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    
    width: 150px;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    transition: 0.5s;


}

.card:hover .imgBx{



    width: 250px;
    height: 250px;


}
.imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .personal_content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    overflow: hidden;
}

.card:hover .personal_content .personal-details{
    transform: translateY(0px);
    transition: 0.5s;
}
.card .personal_content .personal-details{

    padding: 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    
    transform: translateY(13vh);
}
@media (max-width:1400px) {
    .card .personal_content .personal-details{

        transform: translateY(15vh);
    }
}

@media (max-width:1350px) {
    .card .personal_content .personal-details{

        transform: translateY(18vh);
    }
}
@media (max-width:1100px) {
    

    .card .personal_content .personal-details h3{
        font-size: 0.5em;
        font-weight: 600;
        color: #555;
        line-height: 1em;
    }

}


.card .personal_content .personal-details h3{

    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em;
}

.card .personal_content .personal-details span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.card .personal_content .personal-details .personal-data{

    margin-top: 2vh;
    padding: 15px;
    text-align: left;

}


.card .personal_content .personal-details .personal-data p{
    
    font-size: 1.5;
    font-weight: 400;
    opacity: 0.5;
}

/* ----------------contacts-------------- */


.contacts-bgc{
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: 900px;
    background: #f4f4f4;
    overflow: hidden;
    
}

.contacts-bgc .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave/wave.png);
    background-size: 1000px 100px;

}
.contacts-bgc .wave.wave1{
    animation: animate1 30s linear infinite;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}


@keyframes animate1{
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px ;
    }
}


.contacts{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    position: relative;
    
    
}

.contacts h2{

    text-align: left;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 230%;
    line-height: 58px;
    font-weight: 600;
    margin-bottom: 3%;

}






.map-box { 
	position: absolute;
	top: 30%;
	left: 5%; 
	padding: 20px;
	background: rgba(244, 244, 244, 0.8);
	z-index: 2;
	width: 20vw;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
}
@media (max-width:1140px) {

    .map-box{
    width: 30vw;
    }
    
}



.contacts-card{
    position: relative;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
    border-radius: 15px;
    
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}

.contacts-card .contacts_content{
    padding: 20px;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: 0.5s;


}


.contacts_content h3{
    font-size: 1.8em;
    color: #000000;
    z-index: 1;
}

.contacts_content p{
    font-size: 1em;
    color: #000000;
    font-weight: 300;
}

@media (max-width:900px) {
    .map-box{
        width: 20vw;
        }

    .contacts_content h3{
        font-size: 1em;
        color: #000000;
        z-index: 1;
    }
    
    .contacts_content p{
        font-size: 1em;
        color: #000000;
        font-weight: 300;
    }
    
}

/* --------------footer--------------- */
footer{
    /* background: #f4f4f4; */
}
.text_footer{

    padding-bottom:1%;
    padding-top: 2%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;

}